@import '@src/styles/mixins.scss';
$page-path: '@src/pages/aiChat/index';
// 图片demo
// @include background-image($page-path, 'assets/images/yk_banner.png');

.render-chat-layout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 700upx;
  padding: 20upx 25upx;
  &.Human {
    align-items: flex-end;
    .render-chat-content {
      text-align: right;

      border-radius: 16upx 0 16upx 16upx;
    }
  }
  &.AI {
    align-items: flex-start;
    .render-chat-content {
      text-align: left;

      border-radius: 16upx 16upx 16upx 0;
    }
  }
  .render-chat-content {
    max-width: 550rpx;
    margin: 20rpx;
    padding: 24rpx 32rpx;

    background-color: #e1eaff;

    .chat-content {
      margin: 0 0 10upx 0;
      color: #111824;
      overflow-wrap: break-word;
    }
  }
  .render-chat-aside {
    width: 80upx;
    height: 80upx;

    background-color: #000;
  }
}
