@import '@src/styles/mixins.scss';
$page-path: '@src/pages/login/index';
// 图片demo
// @include background-image($page-path, 'assets/images/yk_banner.png');
.card-header {
  display: flex;
  align-items: center;
  line-height: 48rpx;
  justify-content: space-between;

  .title {
    font-size: 32rpx;

    color: #333;
  }
  .extends {
    font-size: 24rpx;

    color: #999;
  }
}
.card-content {
  padding-bottom: 20rpx;
}
